<?xml version="1.0" ?>
<model>
    <name>myrobot</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Huy Trinh</name>
        <email></email>
    </author>
    <description>2 two wheeled robot with caster wheel in front supporting a robotic 7 dof arm </description>
</model>
